@tailwind base;
  @tailwind components;
  @tailwind utilities;

  @layer base {
    :root {
      --background: 0 0% 100%;
      --foreground: 222.2 84% 4.9%;

      --card: 0 0% 100%;
      --card-foreground: 222.2 84% 4.9%;

      --popover: 0 0% 100%;
      --popover-foreground: 222.2 84% 4.9%;

      --primary: 212 35% 37%; /* #3D5A80 */
      --primary-foreground: 0 0% 100%;

      --secondary: 0 0% 91%; /* #E9E9E9 */
      --secondary-foreground: 212 35% 37%;

      --muted: 0 0% 91%;
      --muted-foreground: 215.4 16.3% 46.9%;

      --accent: 14 84% 62%; /* #EE6C4D */
      --accent-foreground: 212 35% 37%;

      --destructive: 9 89% 23%; /* #6F1A07 */
      --destructive-foreground: 0 0% 100%;

      --border: 0 0% 91%;
      --input: 0 0% 91%;
      --ring: 212 35% 37%;

      --radius: 0.5rem;
      
      --tertiary: 14 84% 62%; /* #EE6C4D */
      --quaternary: 157 91% 37%; /* #09BC8A */
      --quinary: 9 89% 23%; /* #6F1A07 */
    }

    .dark {
      --background: 212 35% 10%;
      --foreground: 0 0% 91%;

      --card: 212 35% 15%;
      --card-foreground: 0 0% 91%;

      --popover: 212 35% 15%;
      --popover-foreground: 0 0% 91%;

      --primary: 212 35% 37%; /* #3D5A80 */
      --primary-foreground: 0 0% 100%;

      --secondary: 0 0% 91%; /* #E9E9E9 */
      --secondary-foreground: 212 35% 37%;

      --muted: 212 35% 25%;
      --muted-foreground: 215 20.2% 65.1%;

      --accent: 14 84% 62%; /* #EE6C4D */
      --accent-foreground: 0 0% 100%;

      --destructive: 9 89% 23%; /* #6F1A07 */
      --destructive-foreground: 0 0% 100%;

      --border: 212 35% 25%;
      --input: 212 35% 25%;
      --ring: 212 35% 50%;
      
      --tertiary: 14 84% 62%; /* #EE6C4D */
      --quaternary: 157 91% 37%; /* #09BC8A */
      --quinary: 9 89% 23%; /* #6F1A07 */
    }
  }

  @layer base {
    * {
      @apply border-border;
    }
    body {
      @apply bg-background text-foreground;
    }
  }